altgraph==0.17.4
argostranslate==1.9.6
camelot-py==1.0.0
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.2
cryptography==45.0.5
ctranslate2==4.6.0
easyocr==1.7.2
et_xmlfile==2.0.0
filelock==3.18.0
fsspec==2025.5.1
hf-xet==1.1.3
huggingface-hub==0.32.4
idna==3.10
imageio==2.37.0
Jinja2==3.1.6
joblib==1.5.1
lazy_loader==0.4
lxml==6.0.0
macholib==1.16.3
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.8.1
numpy==2.2.6
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
pandas==2.3.0
pdf2image==1.17.0
pdfminer.six==20250506
pillow==11.2.1
protobuf==6.31.1
pyclipper==1.3.0.post6
pycparser==2.22
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyMuPDF==1.26.1
pyparsing==3.2.3
pypdf==4.0.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pypinyin==0.54.0
pytesseract==0.3.13
python-bidi==0.6.6
python-docx==1.2.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
sacremoses==0.0.53
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
sentence-transformers==4.1.0
sentencepiece==0.2.0
setuptools==78.1.1
shapely==2.1.1
stanza==1.1.1
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tkinterdnd2==0.4.3
tokenizers==0.21.1
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.52.4
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
wheel==0.45.1
